
html {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

body {
    background-image: url('../assets/bg.jpg');
    margin: 0;
}

#homepic img, #hp img {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    border: 4px solid white;
    border-radius: 5px;
}

li.navi a.navi {
    text-decoration: none;
    color: black;
}

.list li{
    color: white;
    margin: 15px;
}

h1, h3 {
    margin: 10px;
}

p {
    margin: 5px;
}

nav {
    margin-bottom: 70px;
}

.mainn {
    -webkit-animation: mymove 5s;
    animation: mymove 5s;
    font-size: 1rem;
    color: white;
    text-align: center;
}

ul.list {
    color: white;
    text-align: center;
}

#navi li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

#navi {
    margin: 0;
    background-color: aliceblue;
    text-align: center;
    padding: 20px 0;
    color: white;
    border-bottom: 4px solid #dafdff;
    position: fixed;
    top: 0;
    width: 100%;
}

#homepic img {
    -webkit-animation: mymove 5s;
    animation: mymove 5s;
}

#bot {
    margin-bottom: 20px;
}

.inline:link {
    color: white;
}

.inline:visited {
    color: white;
}

.logo {
    margin-left: 5px;
    margin-right: 5px;
}

@-webkit-keyframes mymove {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes mymove {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (orientation: portrait) {
    img.pic {
        width: 95%;
    }

    img.logo {
        width: 95%;
    }

    .mainn li.navi {
        font-size: 1.5rem;
    }
    li.list {
        font-size: 2rem;
    }
}